/*****************
General Formatting
******************/
* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
    /* sets base font size for rem sizing */
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}


html,
body {
    padding: 0;
    margin: 0;
}

section,
header,
footer {
    padding: .5rem;
}

.menu {
    width: 100%;
    padding: .5rem;
    background-color: #aaa;
    margin: 1px;
}

.submenu {
    list-style-type: none;
    width: 100%;
    margin: 0;
    background-color: #eee;
    padding-left: .5rem;
}

/**************
Your Formatting
***************/

/*****************
Grid Formatting
*****************/

/*mobile*/

#pagegrid {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "header""story""source""extracredit""nav""footer";
    grid-template-rows: 80px auto auto auto auto 30px;

}

header {
    grid-template-areas: header;
    height: 80px;
}

#story {
    grid-template-areas: story;
}

#story {
    grid-template-areas: story;
}

#source {
    grid-template-areas: source;
}

#extracredit {
    grid-template-areas: extracredit;
}

nav {
    grid-template-areas: nav;
}

footer {
    grid-template-areas: footer;
     height: 30px;
}
