/**************************************
CSS Reset
**************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Flexbox Ref: https://internetingishard.com/html-and-css/flexbox/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************************
My Styles
**************************************/


html {
    font-size: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background: white;
    font-size: 1em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: 700;

    background: -webkit-linear-gradient(#c2bcff,  #8175f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.wrapper {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    margin: 0;
}

.mainGrid {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-rows: 100px .5fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
        "introImage intro"
        "galleryGrid galleryGrid"
        "footer footer";
    padding: 15px;
}

/* PROJECT PAGE GRID */
.mainProjectGrid {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-rows: 100px .5fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
        "introImage intro"
        "content content"
        "footer footer";
}

/* RESUME */
.mainGridresume {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100vh;
    grid-template-rows: 100px .5fr 1fr 75px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header"
        "intro introImage"
        "resumeContain resumeContain"
        "footer footer";
}

.resumeContainer {
    grid-area: resumeContain;
}

/* Resume Styling */

.jobTitle {
    color: #8175f7;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.jobHead {
    color: black;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.jobSubHead {
    color: black;
    opacity: .75;
    margin-bottom: 12px;
    font-size: 20px;
}

.jobPara {
    color: black;
    opacity: .5;
    margin-bottom: 25px;
    font-size: 20px;
    width: 50%;
}


.resumeContainer {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.columnLeft {
    width: 800px;
}

.columnRight {
    width: 460px;
}

/**************************************
Header / Nav
**************************************/

.header {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e0e0e0 ;
    padding: 10px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;


    grid-area: header;
}

.logo {
    margin-left: 5%;
}

.logo img {
    display: block;
}



.header nav ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

/* DO NOT DISPLAY HAMBURGER MENU WHEN NOT MOBILE*/
#menuToggle {
    display: none;
}

.mobileLogo {
    display: none;
}

/* Sets styles for navigation when hover is not active */
header ul li a {
    text-decoration: none;
    color: #7D7C7D;
}

/* On hover the options turn purple with a thin line below */
nav ul li a:hover {
    color: #8175f7;
    border-bottom: 2px solid #8175f7;
    font-weight: 300;
}

/**************************************
PROJECT 1 PAGE
**************************************/



.introProjectImage {
    grid-area: introImage;
    background-color: blue;

    width: 90%;
    margin: 20px auto;
    align-self: center;
    justify-self: center;
}

.projectContent {
    grid-area: content;
    justify-content: center;
    background-color: blue;
    max-width:100vw;
    margin:0 auto;
}

.someContent{
    max-width: 90vw;
    text-align:center;
    word-wrap:break-word;
}

.singleProjectImageCont {
    grid-area: content;
    background-color: yellowgreen;
    margin: 0 auto;
}


.singleProjectImage {
    width: 60vw;
    margin: 0 auto;
    display:block;
}


.introProject {
    grid-area: intro;
    align-self: center;
    background-color: purple;
    padding: 50px;
}

.ctabutton {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 114px;
    height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #3D3D3D;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 70px;
}


/**************************************
Intro
**************************************/

.intro {
    grid-area: intro;
    align-self: center;
    padding: 5px;
}

.introImage {
    grid-area: introImage;
    background-color: blue;
    border-radius: 50%;
    width: 50%;
    margin: 20px auto;
    align-self: center;
    justify-self: center;
}

.ctabutton {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 114px;
    height: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #3D3D3D;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 70px;
}

/**************************************
Gallery
**************************************/

/* References */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-areas */
/* https://axelvaldez.mx/blog/2018/05/mosaic-layout-with-css-grid/ */
/* https://medium.com/@andybarefoot/a-masonry-style-layout-using-css-grid-8c663d355ebb */

.galleryGrid {
    display: grid;
    grid-gap: 1rem;
    margin: 0 auto;
    grid-template-areas: "proj1 proj2"
        "proj1  proj2"
        "proj1 proj4"
        "proj3 proj4"
        "proj3 proj4";
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    grid-area: galleryGrid;

}

.project {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
     transition: transform .2s;
}

.proj1 {
    grid-area: proj1;
}

.proj2 {
    grid-area: proj2;
}

.proj3 {
    grid-area: proj3;
}

.proj4 {
    grid-area: proj4;
}

/* Scales up image while hovering with a slight animation to cerate a smooth look */
.project:hover {
    transform: scale(1.05);
    /* (Note: if the zoom is too large, it will go outside of the viewport) */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/**************************************
Footer
**************************************/

footer {
    grid-area: footer;
     padding: 2em;
    text-align: center;
    max-width: 2000px;

}



/**************************************
Media Queries
**************************************/
/* Media Queries */

/* Printing */
@page {
    size: A4;
    margin: 0;
}

@media print {

    .icon-nav {
        display: none;
    }

    .pageTitle {
        display: none;
    }

    .resumeDownload {
        display: none;
    }

    .jobPara {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .galleryGrid {
        display: block;
    }

    .header {
        display: flex;

        flex-direction: column;
        border-bottom: 1px solid #F2F2F2;
        padding: 2.3em 0;
        align-items: center;
    }

    .header nav {
        display: none;
    }

    .logo {
        display: none;
        /* margin-left: 5%; */
    }

    .logo img {
        display: block;
    }

    nav {
        margin: 1.5em 0 0 5%;
    }

    .project:hover {
    transform: scale(1.01);
    }


    /* MAIN GRIDS TO COLUMN */

    .mainGrid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "introImage"
            "intro"
            "galleryGrid"
            "footer";
    }

    .mainGridresume {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "introImage"
            "intro"
            "resumeContain"
            "footer";
    }

    .mainProjectGrid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "introImage"
            "intro"
            "content"
            "footer";
    }


    /* RESUME RESPONSIVE STYLING */

    .resumeContainer {
        flex-direction: column !important;
        display: block;
    }

    .resumeQueryMargin {
        margin-top: 50px;
    }

    .jobTitle {
        font-size: 24px;
    }

    .jobHead {
        font-size: 20px;
        width: 300px;
    }

    .jobSubHead {
        font-size: 20px;
    }

    .jobPara {
        font-size: 20px;
    }




    /**************************************
Hamburger Menu
**************************************/

    /* https://codepen.io/erikterwan/pen/EVzeRP */

    #menuToggle {
        display: block;
        position: absolute;
        top: 4vw;
        right: 3vw;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        /* -webkit-touch-callout: none; */
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #7D7C7D;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;

    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;

    }

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #7D7C7D;

    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menuToggle {
        height: 25px;
        width: 155px;

        text-align: center;
        /*position: fixed; */

        z-index: 3;
        left: 30px;
        top: 30px;
    }

    #menu {
        height: 225px;
        width: 200px;

        top: 50px;
        background-color: #fff;
        border: 1px solid white;
        border-top: none;
        /*top: 50px;*/
        left: 30px;
        z-index: 2;
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .mobileLogo {
        display: block;
    }

    .header {
        padding: 15px;
    }

    .mobileList {
        display: block;
        padding: 0;
        padding-top: 25px;
    }
}

@media screen and (max-width: 650px) {

}
