/* Resume print friendly page css*/


/* Sets the page size for print, gives space along the for the priner*/

@page {
    size: A4;
    /* standard paper size*/
    margin: 3cm;
}


/*Setting all base margins to zero, setting defult font size */

html {
    margin: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}


/* Basic heading styles */

h1 {
    float: left;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 5px;
    width: 100px;
    margin-left: 20px;
}


/* Heading 2, Titles for resume sections*/

h2 {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}


/* Discription/subtitle under the title */

h3 {
    float: left;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
    color: grey;
    font-weight: 100;
    margin-left: 20px;
    width: 100%;

    /* it at 100% so the columns that are floating left dont overlap the heading*/
}


/* Body text columns */

.c {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
}


/* Paragraph styles */

p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 100;
}


/* drop down menu*/


/* this is the styles for the word menu, when hoverd the hidden menu appears*/

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    color: #8175F7;
    margin: 10px;
    margin-right: 35px;
}


/* this is the content that shows up when the menu is hoverd on, its display is set to none so its not always visiable in the page, its display gets changed to block on the hover which makes it displaye, */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 50px;
    padding: 0px 15px;
    text-align: center;
}


/*shows the drop down menu content on a hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* link styles*/

a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    line-height: 25px;
}
